.project-div {
  margin: 0.5em;
  width: fit-content;
}

.project-div h2 {
  font-size: 2rem;
  font-style: normal;

  margin: 0.25em 0;
  padding: 0.25rem 0.5rem;

  width: fit-content;

  background-color: #101010;
}

.project-div p {
  margin: 0;
  padding: 0.5em 0;
}

.project-div ul {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.project-div li {
  font-size: 16px;
  margin-right: 1.5em;
  color: rgb(40, 155, 255);
}
