.flex-link {
  display: flex;
}

.nav-bar {
  display: flex;
  padding: 0.5em 0;
  height: 6vh;
  min-width: 500px;

  font-size: 24px;

  justify-content: center;
  align-items: center;

  background-color: #101010;
}

.nav-bar img {
  height: 2em;
}

.nav-bar ul {
  display: flex;
  width: 80%;
  padding: 0 0.5em;
  margin: 0;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-bar li {
  display: flex;
  margin: 0 2em;
  height: 2em;
  align-items: center;
}

.nav-bar span {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 1.2em;
  overflow: visible;
}
.nav-bar span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1em;
  bottom: -0.2em;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-bar span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
